// Resolutions
$mobile-width-only: 767px;
$tablet-width: 765px;
$desktop-width: 1170px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// variables for applying font
$main-font: "CoreSansE-45Regular", Arial, sans-serif;
$secondary-font: "Besom", Arial, sans-serif;

// variables for colors
$red: #ff0000;
$white: #fff;
$dark-gray: #4d4d4d;
$black: #1b1916;

// variables for CoreSansE font
$light-font: "CoreSansE-35LightIt";
$regular-font: "CoreSansE-45Regular";
$medium-font: "CoreSansE-55Medium";
$bold-font: "CoreSansE-65Bold";
$black-font: "CoreSansE-95Black";