.button {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 115px;
    // width: 307px;
    // height: 73px;

    color: $white;

    background-color: $red;
    background: url("../img/button/button.png") no-repeat 0 0;
    border: none;

    font-family: $black-font;
    font-size: 18px;
    cursor: pointer;
}