.reviews {
    margin-bottom: 50px;
    position: relative;
}

.reviews__title {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;

    height: 75px;
    
    z-index: 1;
    position: relative;
    &::before {
        content: 'Отзывы';
        margin-left: -15px;
        margin-right: -15px;
        
        position: absolute;
        left: 0;
        top: -15px;
        right: 0;
        bottom: 0;
        
        min-width: 100%;
        
        font-family: $secondary-font;
        font-size: 100px;
        line-height: 90px;
        color: rgba($color: #32383f, $alpha: .1);
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;

        overflow: hidden;
        z-index: -1;
    }
}

.reviews__video {
    display: block;

    margin: auto;
    margin-bottom: 60px;
    width: 290px;
}

.reviews__slider {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 110px;

    width: 290px;

    &::before {
        content: '';

        position: absolute;

        left: 0;
        top: 270px;

        // width: 803px;
        width: 100%;
        height: 727px;


        background-image: url("../img/reviews/white-rect.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;

        overflow: hidden;
        z-index: -1;
    }
}

.reviews__photo {
    display: block;

    margin: auto;
    margin-bottom: 30px;
    width: 117px;
    height: 156px;
}

.reviews__text-wrapper {
    text-align: center;
}

.reviews__author {
    display: block;
    margin-bottom: 20px;

    font-family: $bold-font;
    font-size: 20px;
    line-height: 24px;
}

.reviews__text {
    margin-top: 0;
    margin-bottom: 20px;
}

.reviews__full-review {
    display: block;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 23px;
    font-family: "CoreSansE-45Regular", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #4d4d4d;
    text-decoration: dashed;
}

.reviews__control {
    display: flex;
    justify-content: space-between;

    width: 270px;
    margin: auto;
}

.reviews__pagination {
    @include reset-list;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;

    width: 105px;
}

.reviews__number {
    width: 10px;
    height: 9px;

    background-image: url("../img/reviews/number-2.png");
    background-repeat: no-repeat;
    
    &:nth-child(3) {
        background-image: url("../img/reviews/number-3.png");
    }
    &:nth-child(4) {
        background-image: url("../img/reviews/number-4.png");
    }

    &--current {
        background-image: url("../img/reviews/number-hover.png");
    }
}

.reviews__link {
    font-size: 0;
}

.reviews__prev {
    width: 40px;
    height: 19px;

    font-size: 0;

    background-image: url("../img/reviews/arrow-short-left.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.reviews__next {
    width: 66px;
    height: 19px;

    font-size: 0;

    background-image: url("../img/reviews/arrow-long-right.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

@media (min-width: $tablet-width) {
    .reviews {
        margin-bottom: 80px;

        &::before {
            content: '';  

            position: absolute;

            top: -370px;

            width: 100%;
            height: 1894px;

            background-image: url("../img/reviews/bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 0;

            overflow: hidden;
            z-index: -1;
        }
    }

    .reviews__title {
        &::before {
            left: -7px;
            top: -35px;

            font-size: 120px;
            line-height: 140px;
            color: rgba($color: #32383f, $alpha: .1);
        }
    }

    .reviews__video {
        width: 723px;
        height: 427px;
    }

    .reviews__slider {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 65px;
        padding-bottom: 60px;

        width: 720px;

        position: relative;
        z-index: 1;
        &::before {
            width: 100%;
            height: 541px;

            top: -50px;

            // background-size: contain;
        }
    }

    .reviews__text-wrapper {
        display: inline-block;
        vertical-align: top;

        width: 475px;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;

        text-align: left;
    }

    .reviews__photo {
        display: inline-block;
        vertical-align: top;

        width: 145px;
        height: 193px;

        margin: 0;
        margin-right: 25px;
    }

    .reviews__full-review {
        margin-bottom: 50px;
    }
}

@media (min-width: $desktop-width) {
    .reviews {
        margin-bottom: 170px;
    }

    .reviews__title {
        margin-bottom: 55px;
        height: 120px;

        &::before {
            top: -80px;
            font-size: 180px;
            line-height: 235px;
        }
    }

    .reviews__video {
        width: 1142px;
        height: 642px;
    }

    .reviews__slider {
        margin: 0;
        padding-left: 80px;
        padding-right: 95px;
        padding-top: 90px;
        padding-bottom: 60px;

        width: 1140px;

        position: static;
        &::before {
            
            width: 100%;
            height: 596px;

            left: 50%;
            transform: translateX(-50%);
            top: 860px;

            background-image: url("../img/reviews/white-rect-desktop.png");
            background-size: auto;
        }
    }

    .reviews__photo {
        margin-right: 50px;

        width: 199px;
        height: 265px;
    }

    .reviews__text-wrapper {
        width: 710px;
    }

    .reviews__full-review {
        margin-bottom: 60px;
    }
    
}